flows.json
[
    {
        "id": "dbe48fa501981787",
        "type": "json",
        "z": "7ae401ef79ad417b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "86524bb28e6fab62",
                "0cc99609c7e86805",
                "3db89f586e8e4aaf",
                "b37590fdcce1c713"
            ]
        ]
    },
    {
        "id": "86524bb28e6fab62",
        "type": "debug",
        "z": "7ae401ef79ad417b",
        "name": "Luminosidade",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "5b8cc0b4a8d055df",
        "type": "serial in",
        "z": "7ae401ef79ad417b",
        "name": "",
        "serial": "73881f6687812bc2",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "dbe48fa501981787"
            ]
        ]
    },
    {
        "id": "58ab9b94ad1ed446",
        "type": "mqtt out",
        "z": "7ae401ef79ad417b",
        "name": "",
        "topic": "tago/data/post",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e9eb6a8576d4dc4f",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "b29ce91652bd924a",
        "type": "mqtt out",
        "z": "7ae401ef79ad417b",
        "name": "",
        "topic": "fiap/iot/1ESPR/1/DHT_Temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc08b5cacd13759d",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "b37590fdcce1c713",
        "type": "change",
        "z": "7ae401ef79ad417b",
        "name": "luminosity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.luminosity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "9b981745127bd2d1"
            ]
        ]
    },
    {
        "id": "9b981745127bd2d1",
        "type": "mqtt out",
        "z": "7ae401ef79ad417b",
        "name": "",
        "topic": "fiap/iot/1ESPR/1/Luminosity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc08b5cacd13759d",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "3db89f586e8e4aaf",
        "type": "change",
        "z": "7ae401ef79ad417b",
        "name": "temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "b29ce91652bd924a"
            ]
        ]
    },
    {
        "id": "0cc99609c7e86805",
        "type": "function",
        "z": "7ae401ef79ad417b",
        "name": "function",
        "func": "var obj = {\n    payload: [{\n        \"variable\": \"Temperatura\",\n        \"unit\": \"°C\",\n        \"value\": msg.payload.temperature.toString()\n    }, {\n        \"variable\": \"Claridade\",\n        \"unit\": \"%\",\n        \"value\": msg.payload.luminosity.toString()\n    }]\n};\n\n\nreturn obj;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "58ab9b94ad1ed446"
            ]
        ]
    },
    {
        "id": "73881f6687812bc2",
        "type": "serial-port",
        "name": "",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "e9eb6a8576d4dc4f",
        "type": "mqtt-broker",
        "name": "Tago_IO",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "Danillo_mqtt",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc08b5cacd13759d",
        "type": "mqtt-broker",
        "name": "MQTT OUT",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "clientId-qmRIix3YG6",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]